.layer_msg_f{
    color: red;
    border: none !important;
    font-weight: bold;
}
.layer_msg_s{
    color: green;
    border: none !important;
    font-weight: bold;
}
[attr_footer_div]{
    background-color: #7e9db7;
    color: #FFFFFF;
    border-radius: 10px;
    line-height: 25px;
    text-align: center;
    float: left;
    width: 98%;
    margin: 0 1%;
}

[attr_hr]{
    background-color: #0e0a08;
    height: 1px;
    margin: 6px 2%;
    float: left;
    width: 96%;
}

[attr_div]{
    margin: 10px;
    /* 添加内阴影效果 */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

[role_panel]{
    border: solid 1px #f6dacc;
    border-radius: 5px;
}

[role_panel] [attr_name]{
    margin-top: 2px;
    color: #000000;
    font-weight: bold;
    height: 17px;
}

[attr_name] img{
    width: 17px;
    height: 17px;
    margin-top: -3px;
    margin-right: 3px;
}

[role_panel] [attr]{
    padding-left: 2px !important;
    margin-top: 2px;
    background-color: #7e9db7;
    color: #FFFFFF;
    border-radius: 10px;
    margin-right: -10px;
}

.checkbox input[type="checkbox"]{
    min-height:27px;
}

input[type="checkbox"]:focus {
    outline: none; !important; /* 移除默认轮廓 */
}

[show_img]{
    width: 110px;
    height: 200px
}
[pet_img_div]{
    padding: 0 2px;
    margin-top: 10px;
}

[operation_div] button{
    width: 111px;
}
[operation_div] {
    min-height: 200px;
}
[float_left]{
    float: left !important;
}
[img_lv]{
    width: 35px;
    height: 35px;
}

[color_white]{
    color: white;
}

[color_green]{
    color: green;
}
[color_red]{
    color: red;
}
[weapon_u_color]{
    color: #8007f7;
}
[btn_weapon]{
    margin:10px 0;
}

[jewelry_div] img{
    margin-bottom: 5px;
}

[jewelry_div]{
    background-color: #0e0a08;
    border: 2px solid #e8c685 ;
    border-radius: 15px;
    width: 231px;
}

[bb_info]{
    background-color: #0e0a08;
    border: 2px solid #e8c685 ;
    border-radius: 3px;
    width: 250px;
}
[pet_info]{
    background-color: #e6e0e1;
    border: 2px solid #e8c685 ;
    border-radius: 3px;
    width: 260px;
    padding-top: 0;
    padding-bottom: 0;
}
/* 定义自定义光标样式 */
/* 如果浏览器不支持自定义光标，将使用 'auto' 作为备用 */
.custom-cursor {
    cursor: url('../img/mouse.png'), auto;
}

body{
    background: #000;
}
[right_msg_div]{
    color: #ffffff;
}
[pet_img_div] label{
    text-align: center;
    margin-bottom: 0 !important;
}
[pet_msg_div]{
    padding-bottom: 10px;
}
.image-frame {
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #e8c685 ;
    background-color: #0e0a08;
}

.image-frame img {
    margin: 10px 120px 0 120px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: block;
    height: auto;
    border: 1px solid #e8c685 ;
    border-radius: 3px;
}

[weapon_roll_text]{
    border-top: 1px solid #e8c685 ;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
}

[weapon_roll_text] span{
    padding: 0 5px;
    color: #3a4459;
    font-size: 30px;
}

[weapon_top_text],[jewelry_top_text]{
    text-align: center;
    color: #ffffff;
}

[weapon_top_text],[jewelry_top_text]{
    text-align: center;
    color: #ffffff;
}
[weapon_bottom_text]{
    text-align: center;
    color: #f0ad4e;
    font-size: 20px;
    margin-bottom: 20px;
}
[weapon_remark_text]{
    text-align: center;
    color: #f0ad4e;
    font-size: 12px;
}

[weapon_num_text]{
    text-align: center;
    color: #f0ad4e;
    font-size: 12px;
}

[weapon_btn_text]{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

[weapon_btn_text] button{
    background-color: #0e0a08;
    color: #FFFFFF;
}